<section class="incident-river">
  <ol class="incident-river-header-row">
    <li class="incident-occurred-on">Datum unosa</li>
    <li class="incident-type">Vrsta</li>
    <li class="incident-location">Vlasnik informacije</li>
    <li class="incident-summary">Naziv informacije</li>
    <li class="incident-location-details">Detalji o vlasniku</li>
    <li class="incident-number">Link</li>
  </ol>

  <ol class="incident-river-body">
    <% @incidents.each do |incident| %>
    <li>
      <article class="incident-river-item incident h-event <% if incident.detailed_report.path %>has-detailed-report<% end %>" id="<%= incident.incident_number %>">
        <h3 class="incident-river-item-title p-name"><%= incident.incident_number %></h3>

        <dl class="incident-primary-meta">
          <dt class="incident-field-label incident-occurred-on">Datum unosa</dt>
            <% if incident.occured_on %>
            <dd class="incident-field-value incident-occurred-on">
              <time class="dt-start" datetime="<%= incident.occured_on %>"><%= incident.occured_on.strftime("%d %b %Y %H:%M") %></time>
            </dd>
            <% end %>

          <dt class="incident-field-label incident-type">Vrsta</dt>
            <% if incident.incident_type %>
            <dd class="incident-field-value incident-type p-summary"><%= incident.incident_type %></dd>
            <% end %>

          <dt class="incident-field-label incident-location">Vlasnik informacije</dt>
            <% if incident.location %>
            <dd class="incident-field-value incident-location p-location"><%= incident.location.name %></dd>
            <% end %>
        </dl>

        <dl class="incident-main">
          <dt class="incident-field-label incident-summary">Naziv informacije</dt>
            <dd class="incident-field-value incident-summary p-description"><%= incident.incident_number %></dd>
        </dl>

        <dl class="incident-secondary">
          <dt class="incident-field-label incident-location-details">Detalji o vlasniku</dt>
            <% if incident.location_details %>
            <dd class="incident-field-value incident-location-details"><%= incident.location_details %></dd>
            <% end %>
        </dl>

        <dl class="incident-secondary-linkgroup">
          <dt class="incident-field-label incident-number"><abbr title="Informacija">In.</abbr> Informacija</dt>
            <dd class="incident-field-value incident-number">
              <%= link_to incident, title: 'Više informacija' do %>
                <span class="incident-link btn">više&nbsp;detalja<i> &rarr;</i></span>
              <% end %>
              <% if incident.detailed_report.path %><a href="<%= incident.detailed_report.url %>" title="Dokumentacija o ovome" class="docs-icon supporting distinct-download">dokumentacija</a><% end %>
            </dd>
        </dl>
      </article>
    </li>
    <% end %>
  </ol>
</section>
