<h2 class="supporting">Popis</h2>

<article class="incident-index-results" id="results">
  <h1 class="incident-index-results-description">
    <strong class="query-count"><%= @incidents.total_count %></strong>

    <% if params[:incident_type] %>
    <strong class="type">
      <%= params[:incident_type] %>
    </strong>
    <% end %>

    potencijalnih informacija

    <% if params[:by_detailed_report] %>
      s priloženom <strong>dokumentacijom</strong>
    <% end %>

    <% if @location_name %>
      od <strong class="location"><%= @location_name %></strong>
    <% end %>

    između

    <strong class="start-date">
      <%= @start_date.strftime("%e.%m.%Y") %>
    </strong>

    i

    <strong class="end-date">
      <%=@end_date.strftime("%e.%m.%Y") %>.
    </strong>
  </h1>
</article>

<section class="incident-index-results-reference">
  <%= link_to "Permalink", params, class: 'incident-index-permalink', title: 'url za dijeljenje ili spremanje trajnog linka do ovih rezultata' %>

  <%= render 'incidents/pagination-block' %>
</section>
