<%
	title incidentexplorer_results

	description "Istražite popis informacija javnog sektora koji možda još nisu javno objavljeni."

	breadcrumb :incidents, @incidents
%>

<%= render 'layouts/sub-nav' %>

<section class="body-container incident-index" id="content" role="main">
	<a class="skip-link" href="#results">Preskoči na filtar rezultata</a>

	<header class="page-header">
		<h1 class="page-title">Informacije javnog sektora</h1>

    <nav class="page-nav">
      <%= link_to "PSI detalji", about_incidents_path, title: 'Pročitajte više o informacijama javnog sektora.' %>
    </nav>

    <p class="page-summary">Informacije javnog sektora (PSI) su javni podaci koje prikupljaju, upisuju ili održavaju tijela javne vlasti. Neki PSI možda još nisu javno objavljeni. Koristite ovaj popis za pregledavanje takvih informacija i pokrenite istraživanje za tim podacima!</p>
	</header>

	<%= render 'incident-filters' %>

	<%= render 'index-results' %>

	<%= render 'incident-river'  %>

  <%= render 'incidents/pagination-block' %>
</section>
