<%
  title "PSI: #{@incident.incident_number}, #{@incident.incident_type} od #{@incident.location.name}"

  description "#{@incident.summary}"

  breadcrumb :incident, @incident
%>

<%= render 'layouts/sub-nav' %>

<main class="body-container" id="main" role="main">
  <article class="main-reading text-block incident incident-show-body h-event" role="main">
    <header class="page-header">
      <h1 class="page-title p-name"><%= @incident.incident_number %></h1>
      <br />
      <br />

      <nav class="page-nav">
        <%= link_to "PSI detalji", about_incidents_path %>
        <% if @incident.foi_requests.empty? and !@incident.detailed_report.path %>
          <%= link_to "Preuzmi", incident_adopt_path(@incident), class: "incident-adopt-link", title: "pomozite nam da dobijemo ove informacije" %>
        <% end %>
      </nav>
    </header>

    <%= render 'incidents/detail-report-link' %>

    <section class="incident-show-body">
      <dl class="incident-data-list">
        <dt class="incident-field-label incident-type">Vrsta</dt>
          <dd class="incident-field-value incident-type p-summary"><%= @incident.incident_type %></dd>

        <dt class="incident-field-label incident-number">Naziv informacije</dt>
          <dd class="incident-field-value incident-number"><%= @incident.incident_number %></dd>

        <dt class="incident-field-label incident-summary">Opis informacije</dt>
          <dd class="incident-field-value incident-summary p-description"><%= @incident.summary %></dd>

        <dt class="incident-field-label incident-informed-by">Pravna osnova</dt>
          <dd class="incident-field-value incident-informed-by"><%= @incident.informed_by %></dd>

        <dt class="incident-field-label incident-occurred-on">Datum unosa</dt>
          <dd class="incident-field-value incident-occurred-on"><time class="dt-start" datetime="<%= @incident.occured_on %>"><%= @incident.occured_on.strftime("%d %b %Y %H:%M") %></time></dd>

        <!-- <dt class="incident-field-label incident-level">Redni broj</dt>
          <dd class="incident-field-value incident-level"><%= @incident.level %></dd> -->

        <dt class="incident-field-label incident-location">Vlasnik informacije</dt>
          <dd class="incident-field-value incident-location p-location"><%= @incident.location.name %></dd>

        <dt class="incident-field-label incident-location-details">Opis vlasnika podataka</dt>
          <dd class="incident-field-value incident-location-details"><%= @incident.location.description %></dd>
      </dl>
    </section>

    <figure class="secondary">
    </figure>

    <p class="msg msg-information">Ukoliko imate problema, nedoumice, pitanja ili prijedloge vezano uz ove informacije molimo vas da nas <a href="/about/#contact" title="kontaktirajte ekspertnu skupinu Code for Croatia">kontaktirate</a>.</p>
  </article>
</main>
